<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-absolute bg-primary fixed-top">
	<div class="container">
		<a class="navbar-brand text-white" href="#">ChatBotApp</a>
		<div class="collapse navbar-collapse">
			<ul class="navbar-nav">
				<li class="nav-item active p-2">
					<a class="text-white" href="#home">Home</a>
				</li>
				<li class="nav-item p-2">
					<a class="text-white" href="#notices">Notices</a>
				</li>
				<li class="nav-item p-2">
					<a class="text-white" href="#bot">Bot</a>
				</li>
			</ul>
		</div>

		<div class="collapse navbar-collapse justify-content-end" id="navigation">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link text-white" href="/chatBotApp" target="_self">
						<i class="fa fa-sign-out"></i> Logout
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<div style="margin-top:65px" class="container text-center">

	<div >
		<div class="jumbotron">
			<h1>Welcome to Chat Bot App</h1> 
			<p>An AI based Chat bot which will answer anything of your doubts about college</p> 
		  </div>	
</div>
</div>